# 转发前的地址
UPSTREAM_URL=https://yibuapi.com/v1  # 后缀写到v1
UPSTREAM_API_KEY="填入AK"  # 上游服务密钥
MODEL_ID=

# 客户端验证（可选）
API_KEY=  # 客户端调用本代理时的验证密钥，不设置则不进行验证

# 转发后的地址
PROXY_HOST=127.0.0.1
PROXY_PORT=4000

# 其他参数
SSL_VERIFY=false
BAN_EXPLORE=false
BAN_STREAM=false

# 代理相关
TRUST_ENV=true  # 为true时使用下面全局环境变量，密码特殊字符记得转码
HTTP_PROXY=http://账号:密码@proxyhk.huawei.com:8080
HTTPS_PROXY=http://账号:密码@proxyhk.huawei.com:8080
NO_PROXY=localhost,127.0.0.1,*.local,*.lan,10.70.85.106