# 转发前的地址
UPSTREAM_URL=https://yibuapi.com/v1  # 后缀写到v1
UPSTREAM_API_KEY="填入AK"  # 密钥
MODEL_ID=

# 转发后的地址
PROXY_HOST=127.0.0.1
PROXY_PORT=4000

# 其他参数
SSL_VERIFY=false
BAN_EXPLORE=false
BAN_STREAM=false

# 代理相关
TRUST_ENV=true  # 为true时使用下面全局环境变量，密码特殊字符记得转码
HTTP_PROXY=http://华为账号:华为密码@proxyhk.huawei.com:8080
HTTPS_PROXY=http://华为账号:华为密码@proxyhk.huawei.com:8080
NO_PROXY=localhost,127.0.0.1,*.huawei.com,*.local,*.lan,10.70.85.106